@import url(variables.css);


*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background: white;
}

.container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-gap: 8px;
    column-gap: 21px;
    
    grid-template-areas:
    "marca marca . . . . . . . ."
    "marca marca canva canva canva canva canva canva canva ."
    "boton boton canva canva canva canva canva canva canva ."
    "boton boton canva canva canva canva canva canva canva ."
    "boton boton canva canva canva canva canva canva canva ."
    ". . canva canva canva canva canva canva canva ."
    "added added canva canva canva canva canva canva canva ."
    "added added canva canva canva canva canva canva canva ."
    ". . canva canva canva canva canva canva canva ."
    ". . . . . . . . . .";

    height: 100vh;
    width: 100vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: none;
}

.container__brand{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: marca;
   
}


.container__buttoms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    grid-area: boton;
    /* background: red; */
   
    
}




.container__aditional{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: added ;
    /* background: yellow; */

}

.container__space{
    grid-area: canva;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background: rgb(11, 196, 210); 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 3%;
    box-shadow: 0cap;
    overflow: hidden;
    
   
   
    
    
  


}


.container__buttoms{
    display: flex;
    flex-direction: column;
    font-style: none;
    /* align-content: space-evenly; */
    
}

.container__list{
    display: flex;
    flex-direction: column;
    line-height: 500%;
    padding-left: 25%; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.container__list:first-child{
    display: flex;
    
    
    

}

.container__list:nth-child(2){
    display: flex;

}

.container__list:nth-child(3){
    display: flex;
}

.container__list:last-child{
    display: flex;

}



.containerspace__dad{
    
    height: 70%;
    gap:30%;
    justify-content: space-around 20px;
   display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    /* background: red; */
    
    
}

.containerspace__1{
    
    margin-top: 10px;
    height: 300px;
    width:1000px;
    background: white;
    margin-bottom: 10px;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 8px;
    row-gap: 100px; 

    
}







.containerspace__1 p{
    color: aliceblue;
   padding-left: 20px;
   background: lightslategray;
   font-size: 16px;
   
}
.containerspace__1a{
    display: flex;
    padding-right: 10px;
}

.containerspace__1 img{
    height:300px ;
    
}

.containerspace__inf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}











   





.containerspace__3{
    width: 120px;

}
.containerspace__3 img{
    height: 180px;
}
.containerspace__2 img{
    height: 180px;
}

.containerspace__2{
    width: 120px;

}


.container__aditional{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    line-height: 200px;
    padding-right: 15%; 
    
    
}

.container__aditional:first-child{
    display: flex;

}

.container__aditional:last-child{
    padding-left: 50%;
}

.container__spacecar{
    background: chocolate;
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: span 1; 
 
    
 }
 
 .container__spacecar1{
     background: chocolate;
     grid-column-start: 4;
     grid-column-end: 9;
     grid-row-start: 4;
     grid-row-end: span 1; 
    
  }
 
  .container__spacecar2{
     background: chocolate;
     grid-column-start: 4;
     grid-column-end: 9;
     grid-row-start: 7;
     grid-row-end: span 2; 
    
  }


