:root{
    --color-primario: #77c8e0;
    --color-secundario: #434982;
    --color-tercero: #003285;
    --color-cuarto: #ffffffb7;
    --color-menu: #FFE8C8;
    --color-quinto: #228B22;
    --color-cancel: #EE4E4E;
    --color-accept: #7ABA78;
}