:root{
    --color-primario: lightslategray ;
    --color-secundario: rgb(11, 196, 210);
    --color-tercero:#ffffffb7;
    --color-cuarto: #ffffffb7;
    --color-menu: #FFE8C8;
    --color-quinto: lightslategray;
  
}