<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/camisetas.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Camus Shop</title>
</head>
<body>
 
     <section class="container">


      <div class="container__brand">
        <h1>Campus Shop</h1>
      </div>
      
       <nav class="container__buttoms">
            <ul class="container__list">
                
                <div><i class='bx bxs-chevrons-left'></i>
                    <a href="#"></a>Todos los productos</li></div>
                    
                
                
                    <div><i class='bx bxs-chevrons-left'></i>
                        <a href="#"></a>Abrigos</div>
               
                    
                
                
                  <div><i class='bx bxs-chevrons-left'></i>
                    <a href="#"></a>Camisetas</div>
                    
                 
                 <div><i class='bx bxs-chevrons-left' ></i>
                    <a href="#"></a>Pantalonetas</div>
                  
            </ul>
        </nav>

 
        <div class="container__aditional">
           
           <div><i class='bx bx-cart-download' ></i>
            <a href="#"></a>Carritos</div>
            
            <div><a href="#"></a>© Campus 2023</div>
            
    
        </div>

        
        
        
        <section class="container__space">

            <h4>Abrigos</h4>

        
            <article class="containerspace__dad">
           
            <div class="containerspace__1">
                <img src="/storage/black.webp" alt="">

                <div class="containerspace__1a">
                    <p> Camiseta De Compresión En Licra Uv Slim.</p>
                    <button> agregar</button>


                </div>

                

            </div>

            <div class="containerspace__1">
                <img src="/storage/elegant.webp" alt="">

                <div class="containerspace__1a">
                 <p> Chaqueta Hombre Algodon Colombiano Buso Buzos</p>
                <button>agregar</button>
            </div>

            
            </div>
            
             <div class="containerspace__1">
                <img src="/storage/white.webp" alt="">

                <div class="containerspace__1a">
                    <p>Chaqueta Impermeable En Gabán Para Dama 'Blanco</p>
                    <button>agregar</button>
                </div>
            </div>

            <div class="containerspace__1">
                <img src="/storage/primera.webp" alt="">
                <div class="containerspace__1a">
                    <p>Chaqueta Impermeable En Gabán Para Dama 'Azul</p>
                    <button>agregar</button>
                </div>
            </div>

            <div class="containerspace__1">
                <img src="/storage/dddd.webp" alt="">
                <div class="containerspace__1a">
                    <p> Chaqueta Impermeable En Gabán Para Dama 'Negro</p>
                    <button>agregar</button>
                </div>
            
            </article> 
